<section id="blogs">
<a href="/article/{{id}}">
<h3 class="post-title">{{title}}</h3>
<p>{{blog}}</p>
<p><a>Post Date: </a> {{format_date createdAt}}</p>
<p><a>User: </a>{{user.email}}</p>
</a>
</section>
<br>
